<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "The Middleman" %></title>

    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body class="<%= page_classes %>">
    <div class='container'>
    <header class='mobile-margin'>
      <h1> Talya &<br>Yonatan </h1>
      <h2 class='date'> 21.06.2016 </h2>
      <!-- <h2> 21<sup>st</sup> of June 2016 </h2> -->
      <!-- <h2> <br> Tel Aviv, Israel</h2> -->
      <!-- <h2> Bait Al Hayam <br> Tel Aviv, Israel </h2> -->
    </header>
    <%= yield %>
    <hr>
    <footer>
      If you have any questions you can always contact us at <span style='text-decoration: underline'>hey@TalyaAndYonatan.com</span>
    </footer>
  </div>
  </body>
</html>
